body
{
    background-color: black;
    color: #EEEEFF;
    font-family: 'Courier New', Courier, monospace;
}

hr
{
    border-style: none;
    border-top-style: dotted;
    border-color: #5e503f;
    border-width: 5px;
    width: 10%;
}
